.slideshow-content {
  width: 100%;
  max-width: 1440px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-size: clamp(1.6rem, 8vw, 4rem);
    font-weight: 700;
    color: #4d4d4d;
  }
  h3 {
    font-size: clamp(1.6rem, 8vw, 4rem);
    font-weight: 700;
    color: #52aa4d;
  }
  p {
    font-size: clamp(0.9rem, 2.9vw, 1rem);
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.slideshow-image-container {
    img {

    }
  }

.slideshow-button {
  background-color: #52aa4d;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    background-color: #45823e;
  }
}

.slideshow-dots-container {
  position: absolute;
  bottom: 16px;
  display: flex;
  gap: 8px;
}

.slideshow-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #52aa4d;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}

@media screen and (max-width: 1220px) {
  .slideshow-image-container {
    img {
      display: none;
    }
  }
  .slideshow-content {
    height: auto;
    gap: 0;
    padding: 32px 0;
    justify-content: center;
  }

  .slideshow-container {
    align-items: center;
    gap: 8px;
    text-align: center;
  }

  .slideshow-dots-container {
    bottom: 10px;
  }
  .slideshow-button {
    padding: 16px 26px;
    font-size: 14px;
}
}
