.helping-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 64px 0;
  gap: 128px;
}

.helping-left {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: clamp(1rem, 8vw, 2rem);
    font-weight: 500;
    color: #4d4d4d;
  }
  h3 {
    font-size: clamp(1rem, 8vw, 2rem);
    font-weight: 500;
    color: #52aa4d;
  }
  p {
    font-size: clamp(0.9rem, 2.9vw, 1rem);
    font-weight: 400;
    color: #637381;
  }
}

.helping-right {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.helping-right-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.helping-right-bottom {
  display: flex;
  justify-content: space-between;
}

.helping-right-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-10px);
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3 {
      font-size: clamp(1rem, 8vw, 2rem);
      font-weight: 700;
      color: #4d4d4d;
    }
    p {
      font-size: clamp(0.9rem, 2.9vw, 1rem);
      font-weight: 400;
      color: #637381;
    }
  }
}

@media screen and (max-width: 1220px) {
  .helping-container {
    gap: 32px;
    text-align: center;
    padding: min(1em, 8%);
    flex-direction: column;
    margin: 32px 0;
  }
  .helping-right-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
  .helping-right-card {
    div {
      width: 50%;
      text-align: left;
    }
  }
  .helping-right-card {
    width: 90%;
    justify-content: space-between;
    background-color: #52aa4d18;
    padding: 24px;
    border-radius: 8px;
    &:hover {
      transform: scale(1.05);
    }
  }
}
