.info-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  h2 {
    font-size: clamp(1rem, 8vw, 2rem);
    font-weight: 700;
    color: #4d4d4d;
  }
  p {
    font-size: clamp(0.9rem, 2.9vw, 1rem);
    color: #637381;
  }
  button {
    background-color: #52aa4d;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
      background-color: #45823e;
    }
  }
}

@media screen and (max-width: 1220px) {
  .info-container {
    flex-direction: column;
    img {
      display: none;
    }
  }
  .info-right {
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
