<div class="header-content" @headerAnimation>
  <div class="logo-container">
    <img class="logo" src="./img/logo.png" alt="" />
  </div>
  <div class="menu-container">
    <ul>
      <li>Home</li>
      <li>Service</li>
      <li>Feature</li>
      <li>Testimonial</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div class="button-container">
    <button class="login-btn">Login</button>
    <button class="signup-btn">Sign up</button>
  </div>
  <mat-icon
    class="menu-responsiv-icon"
    (click)="showResponsiveMenu = !showResponsiveMenu"
    [class.active]="showResponsiveMenu"
  >
    {{ showResponsiveMenu ? "arrow_forward_ios" : "menu" }}
    </mat-icon
  >
</div>

<div class="responsiv-menu-container" *ngIf="showResponsiveMenu" @responsiveMenuAnimation >
  <ul>
    <li>Home</li>
    <li>Service</li>
    <li>Feature</li>
    <li>Testimonial</li>
    <li>FAQ</li>
  </ul>
</div>
