<div class="header-content">
  <div class="logo-container">
    <img class="logo" src="./img/logo.png" alt="" />
  </div>
  <div class="menu-container">
    <ul>
      <li>Home</li>
      <li>Service</li>
      <li>Feature</li>
      <li>Testimonial</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div class="button-container">
    <button class="login-btn">Login</button>
    <button class="signup-btn">Sign up</button>
  </div>
  <mat-icon
    class="menu-responsiv-icon"
    (click)="toggleResponsiveMenu()"
    [class.active]="showResponsiveMenu"
  >
    {{ showResponsiveMenu ? "arrow_forward_ios" : "menu" }}
  </mat-icon>
</div>

<div
  class="responsiv-menu-container"
  *ngIf="showResponsiveMenu"
  @responsiveMenuAnimation
>
  <div class="menu-card">
    <ul>
      <li>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </li>
      <li>
        <mat-icon>build</mat-icon>
        <span>Service</span>
      </li>
      <li>
        <mat-icon>star</mat-icon>
        <span>Feature</span>
      </li>
      <li>
        <mat-icon>emoji_people</mat-icon>
        <span>Testimonial</span>
      </li>
      <li>
        <mat-icon>help_outline</mat-icon>
        <span>FAQ</span>
      </li>
    </ul>
    <div class="auth-buttons">
      <button class="login">Login</button>
      <button class="signup">Sign up</button>
    </div>
  </div>
</div>

