.main-content{
    width: 100vw;
    max-width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
}

.slideshow{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.clients{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.description{
    width: 100%;
    height: 416px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.info{
    width: 100%;
    height: 433px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.helping{
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
}