.main-content {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f7fa;
}

.slideshow {
  width: 100%;
  // height: 600px;
  display: flex;
  justify-content: center;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.clients {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.info {
  width: 100%;
  // height: 433px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.helping {
  width: 100%;
  // height: 288px;
  display: flex;
  justify-content: center;
  background-color: #f5f7fa;
}

.caring-marketing {
  width: 100%;
  // height: 506px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #263238;
  padding: 32px 0;
}

@media screen and (max-width: 1220px) {
  .header {
    background-color: transparent;
  }
  .main-container[_ngcontent-ng-c2422640495] {
    gap: 40px;
  }
  .slideshow {
    // display: none;
    height: auto;
  }
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.progress-container.visible {
  opacity: 1;
}

.progress-bar {
  height: 100%;
  background-color: #52aa4d;
  width: 0%;
  transition: width 0.1s ease-out;
  border-radius: 0 8px 8px 0;
}